@font-face {
    font-family: WorkSans;
    src: url('assets/fonts/WorkSans-VariableFont_wght.ttf');
  }

:root {
  --White: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-950: hsl(292, 42%, 14%);
}

body {
  height: 100vh;

  background-color: var(--Purple-100);
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    font-family: WorkSans;
  width: 450px;
  background-color: var(--White);
  padding: 30px;
  border-radius: 20px;
}

.question {
    padding: 18px 0;
    border-bottom: 1px solid var(--Purple-100);
  }
  
  .question:last-child {
    border-bottom: none;
  }
  

.title {
    display: flex;
}

.title img {
    width: 1.75rem;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Purple-950);
    margin-left: 1rem;
}

button {
    background: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

button span {
    font-family: WorkSans;
    font-weight: 600;
    font-size: 1rem;
    color: var(--Purple-950);
}

button span:hover {
    color: #AD28EB;
    cursor: pointer;
}

button img {
    width: 1.75rem;
}

.answer {
    display: none;
    margin: 30px 0;
    padding: 1px 6px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--Purple-600);

}

.question.open .answer  {
    display: block;
   
}

.attribution {
    margin-top: 10px;
}
