:root {
  /* color */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 100 900;
}

@font-face {
  font-family: "Young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Outfit";
  font-size: 16px;
}

h1,
h2 {
  font-family: "Young-serif";
}
