:root {
  /* color */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  /* spacing */
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
}

.text-preset-1 {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-weight: 600;
}

.text-preset-2 {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-weight: 200;
}

.text-preset-3 {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0px;
  font-weight: 600;
}

.text-preset-4 {
  font-family: "Poppins";
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0px;
  font-weight: 400;
}

.text-preset-5 {
  font-family: "Poppins";
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #fafafa;
  color: var(--grey-500);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--space-500) var(--space-400);
}

header {
  text-align: center;
  margin-bottom: var(--space-500);
}

h1 {
  font-size: 24px;
  margin-bottom: var(--space-200);
}

h1 span {
  display: block;
}

article {
  width: 314px;
  height: 234px;
  margin-bottom: var(--space-400);
  padding: var(--space-400);

  display: grid;
  gap: var(--space-400);
  grid-template-areas:
    "header "
    "img ";

  position: relative;
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--white);
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}

article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.card-red::before {
  background: var(--red);
}

.card-cyan::before {
  background: var(--cyan);
}

.card-orange::before {
  background: var(--orange);
}

.card-blue::before {
  background: var(--blue);
}

article:last-child {
  margin-bottom: 0;
}

h2 {
  margin-bottom: var(--space-100);
}

article p {
  color: var(--grey-400);
}

.title {
  grid-area: header;
}

img {
  grid-area: img;
  justify-self: end;
}

@media (min-width: 768px) {
  .text-preset-1,
  .text-preset-2 {
    font-size: 36px;
  }

  header {
    margin-bottom: 74px;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "team team"
      "supervisor karma"
      "calculator calculator";
    gap: var(--space-400);
    justify-items: center;
  }

  .supervisor {
    grid-area: supervisor;
  }

  .team-builder {
    grid-area: team;
  }

  .karma {
    grid-area: karma;
  }

  .calculator {
    grid-area: calculator;
  }

  article {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .text-preset-1,
  .text-preset-2 {
    font-size: 36px;
  }

  section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "supervisor team calculator"
      "supervisor karma calculator";
    gap: var(--space-400);
    justify-items: center;
    align-items: center;
  }

  .supervisor {
    grid-area: supervisor;
  }

  .team-builder {
    grid-area: team;
  }

  .karma {
    grid-area: karma;
  }

  .calculator {
    grid-area: calculator;
  }

  article {
    margin-bottom: 0;
  }
}
