* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #ffffff;
  --green-500: #3d8168;
  --green-700: #1a4032;

  /* spacing */
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
  --space-50: 4px;
}

.text-preset-1 {
  font-family: "Fraunces";
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 5px;
}

.text-preset-5 {
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--cream);
  min-height: 100vh;

  margin: 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--white);
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  padding: var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.category {
  color: var(--grey);
  text-transform: uppercase;
}

p {
  color: var(--grey);
}

.pricing {
  display: flex;
  align-items: center;
  gap: var(--space-200);
}

.discount_price {
  color: var(--green-500);
}

.original_price {
  color: var(--grey);
  text-decoration: line-through;
}

button {
  display: flex;
  gap: var(--space-100);
  justify-content: center;
  padding: var(--space-200) var(--space-400);
  border: none;
  border-radius: 8px;
  background-color: var(--green-500);
  color: var(--white);
  font-weight: 700;
}

@media (min-width: 768px) {
  article {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  figure {
    height: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}
