@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@import url(./reset.css);

:root {
  --color-white: #ffffff;
  --color-grey-900: #48556a;
  --color-grey-500: #6e8098;
  --color-grey-400: #9daec2;
  --color-grey-200: #ecf2f8;

  --space-0: 0px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-800: 64px;
  --space-1300: 104px;
  --space-2000: 160px;
}

.text-preset-1 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.25px;
  font-weight: 700;
}

.text-preset-2-bold {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12px;
  font-weight: 700;
}

.text-preset-2-medium {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12px;
  font-weight: 500;
}

.text-preset-3 {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.25em;
  font-weight: 500;
  text-transform: uppercase;
}
