:root {
  /* color */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --darkblue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* space */
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
}

.text-preset-1 {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

.text-preset-2 {
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 110%;
}

.text-preset-3 {
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 140%;
}

.text-preset-4 {
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: 110%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

body {
  padding: var(--space-400);
  background-color: #f6f5f6;
  color: var(--white);
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

article {
  margin-top: var(--space-400);
  padding: var(--space-400);
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
}

article:nth-child(1) {
  margin-top: 0;
}

header {
  display: flex;
  gap: var(--space-200);
}

img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.verified {
  margin-top: 4px;
}

h2 {
  margin-top: var(--space-300);
}

p {
  margin-top: var(--space-300);
}

.daniel {
  background-color: var(--purple-500);
}

.daniel img,
.patrick img {
  border: solid 2px var(--purple-300);
}

.daniel p {
  color: var(--purple-50);
}

.jonathan {
  background-color: var(--grey-500);
}

.jonathan p {
  color: var(--grey-100);
}

.jeanette {
  background-color: var(--white);
  color: var(--grey-500);
}

.jeanette p {
  color: var(--grey-400);
}

.patrick {
  background-color: var(--darkblue);
}

.patrick h2 {
  color: var(--grey-200);
}

.patrick p {
  color: var(--grey-100);
}

.kira {
  background-color: var(--white);
  color: var(--grey-500);
}

.kira p {
  color: var(--grey-400);
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
  main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "daniel daniel"
      "jonathan jeanette"
      "patrick patrick"
      "kira kira";

    max-width: 647px;
    gap: var(--space-400);
  }

  article {
    margin: 0;
  }

  .daniel {
    grid-area: daniel;
  }

  .jonathan {
    grid-area: jonathan;
  }

  .jeanette {
    grid-area: jeanette;
  }

  .patrick {
    grid-area: patrick;
  }

  .kira {
    grid-area: kira;
  }
}

@media (min-width: 1440px) {
  main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";

    max-width: 1114px;
    height: 582px;
    gap: var(--space-400);
  }

  .daniel {
    grid-area: daniel;
  }

  .jonathan {
    grid-area: jonathan;
  }

  .jeanette {
    grid-area: jeanette;
  }

  .patrick {
    grid-area: patrick;
  }

  .kira {
    grid-area: kira;
  }
}
