@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("./reset.css");

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-orange-300: hsl(15, 100%, 70%);
  --color-blue-300: hsl(195, 74%, 62%);
  --color-pink-400: hsl(348, 100%, 68%);
  --color-green-400: hsl(145, 58%, 55%);
  --color-yellow-300: hsl(43, 84%, 65%);

  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-navy-800: hsl(235, 41%, 34%);
  --color-navy-200: hsl(236, 100%, 87%);

  --color-purple-700: hsl(264, 64%, 52%);
  --color-purple-600: hsl(246, 80%, 60%);
  --color-purple-500: hsl(235, 45%, 61%);
  /* Spacing */
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
}

/* Typography presets */
.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-4,
.text-preset-5-medium,
.text-preset-5-regular,
.text-preset-6 {
  font-family:
    "Rubik",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  letter-spacing: 0px;
}

.text-preset-1 {
  font-size: 56px;
  line-height: 66px;
  font-weight: 300;
}
.text-preset-2 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 300;
}
.text-preset-3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
}
.text-preset-4 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 100;
}
.text-preset-5-medium {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
.text-preset-5-regular {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.text-preset-6 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

body {
  background-color: var(--color-navy-950);
  color: var(--color-white);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  gap: var(--space-300);
}

.profile-card {
  background-color: var(--color-navy-900);
  border-radius: 15px;
  overflow: hidden;
}

.profile {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 24px;

  width: 100%;
  max-width: 327px;
  box-sizing: border-box;

  padding: var(--space-400);
  background-color: var(--color-purple-600);
  border-radius: 15px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 64px;
}

.profile-text span {
  color: var(--color-navy-200);
}

.profile img {
  width: 64px;
  height: auto;
  border-radius: 50%;
  border: solid 3px var(--color-white);
}

.category {
  margin: var(--space-300) 0;
}

ul {
  display: flex;
  justify-content: space-around;
}

.category-btn {
  color: var(--color-purple-500);
}

.category-btn:hover {
  color: var(--color-white);
}

.cards-container {
}

.card-container {
  overflow: hidden;
  border-radius: 15px;

  background-color: var(--color-orange-300);
  background-image: url("./images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: top -10px right 17px;
  background-size: 78px 78px;
}

.card-contents {
  margin-top: 38px;
  background-color: var(--color-navy-900);
  border-radius: 15px;
  padding: var(--space-300);
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-100);
}

.previous {
  color: var(--color-navy-200);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
